<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title> {{{ title }}} </title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <header class="main-header">
  <nav class="main-nav">
    <ul class="nav-links">
      <li> <a href="/">Maison</a> </li>
      <li> <a href="/cadeau">Mes Cadeau</a> </li>
      <li> <a href="/about">A Propos</a> </li>
    </ul>
  </nav>
  </header>

  {{{body}}}
</body>
</html>